@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-fn-family: "Montserrat"; 
  --main-fn-size: 1rem;
  --main-bg-color: #27282c;
  --main-art-color: #6b57ff;
  --main-tx-color: #fff;
  --main-ln-color: #a6a6a8;
  --second-color: #bfbfb2;

  --bottom-color: #5d5d61;
  --header-h: 5rem;
  --icon-size: 1.1rem;
}

.icon-s {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--main-ln-color);
}

a { text-decoration: none; }
ul { list-style: none; }

.f-gap {
  display: flex;
  gap: 1.4rem;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-fn-family), sans-serif;
  font-size: var(--main-fn-size);
  font-weight: 400;
  color: var(--main-tx-color);
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media(min-width: 759px) and (max-width: 979px) {
  .container { max-width: 800px; }
}

@media screen and (min-width: 980px) {
  .container { max-width: 1280px; }
}

.header {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  max-height: var(--header-h);
  min-height: var(--header-h);
  border-bottom: 1px solid var(--bottom-color);
}

.header-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex: 0 0 70%;
  justify-content: end;
}

.nav-link {
  font-size: 1.1rem;
  color: var(--main-ln-color);
  font-weight: 400;
  transition: .3s;
  cursor: pointer;
}

.active-link { color: var(--main-tx-color); }
.nav-link:hover { color: var(--main-tx-color); }

.controll-item { 
  position: relative; 
  z-index: 1;
  cursor: pointer;
}

.controll-item::before {
  position: absolute;
  display: block;
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  transition: .3s;
  z-index: -1;
}

.controll-item:hover::before { background-color: rgba(0, 0, 0, .2); }

.main { 
  padding-top: 2.5rem;
  flex: 3; 
}

.main-section { margin-bottom: 1.5rem; }

.main-wrapper {
  width: 100%;
  min-height: 16.8rem;
  padding-bottom: 1.5rem;
  background-image: url("../img/bg4-min.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

@media(min-width: 759px) and (max-width: 979px) {
  .main-wrapper {
    background-image: url("../img/bg3-min.jpg");
    background-position-y: center;
  }
}

@media screen and (min-width: 980px) {
  .main-wrapper {
    background-image: url("../img/bg1-min.jpg");
    background-position-y: center;
  }
}

.main-header { 
  width: 70%;
  display: flex; 
  flex-direction: column;
}

.main-title {
  flex: 1 0 65%;
  font-size: 3.5rem;
}

.main-description {
  margin-top: .5rem;
  font-size: 1.2rem;
}

.main-navigation {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.preview-item { margin-bottom: 1.2rem; }
.preview-item:last-child { margin-bottom: 0; }

@media(min-width: 759px) and (max-width: 979px) {
  .preview-item { flex: 1 0 45%; }
}

@media screen and (min-width: 980px) {
  .preview-item { flex: 1 0 23%; }
}

.preview-title > a {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--main-tx-color);
}

.preview-description {
  margin-top: .8rem;
  font-size: 1.1rem;
  color: var(--second-color);
}

.cards-wrapper { margin-top: 1.5rem; }

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 22.5rem;
  margin-bottom: .5rem;
  padding: 1rem;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 1.5rem;
}

.card:last-child { margin-bottom: 0; }
.card-main { background-image: url("../img/abstract-main-min.jpg"); }
.card-second { background-image: url("../img/abstract-second-min.jpg"); }
.card-third { background-image: url("../img/abstract-third-min.jpg"); }

@media(min-width: 759px) and (max-width: 979px) {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
  }

  .card-main { flex: 1 0 100%; }
  .card-second { flex: 0 0 49%; }
  .card-third { flex: 0 0 49%; }
}

@media screen and (min-width: 980px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
  }

  .card-main { grid-area: 1 / 1 / 3 / 4; }
  .card-second { grid-area: 1 / 4 / 2 / 6; }
  .card-third { grid-area: 2 / 4 / 3 / 6; }
}

.dice {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--main-tx-color);
}

.card-logo {
  font-size: 3rem;
  font-weight: 500;
}

.card-body { font-size: 1.6rem; }
.action-link { color: var(--main-tx-color); }

.main-technologies {
  display: flex; 
  margin-top: 1.5rem;
  flex-direction: column;
  gap: .5rem; 
}

@media screen and (min-width: 980px) {
  .main-technologies { flex-direction: row; }
}

.main-article { font-size: 1.1rem; }

.main-resources {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.resource-links > a { 
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--main-tx-color);
  text-decoration: underline; 
}

.resource-bages { line-height: .5rem; }

.t-badge {
  display: inline-block;
  margin-bottom: .5rem;
  padding: .5rem 1.2rem;
  background-color: var(--second-color);
  border: none;
  border-radius: 1.1rem;
  color: var(--main-bg-color);
  text-align: center;
  transition: .3s;
}

.t-badge:last-child { margin-bottom: 0; }

.t-badge:hover {
  background-color: var(--main-tx-color);
  cursor: pointer;
}

.main-articles {
  padding: 2.5rem 0 1.5rem;
  background-color: var(--main-art-color);
}

.articles-container { margin-top: 1.5rem; }

.articles-title { font-size: 3rem; }

.article {
  display: flex;
  width: 100%;
  margin-bottom: .5rem;
  padding: 1rem;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--main-tx-color);
  border-radius: 1.5rem;
  color: var(--main-ln-color);
}

@media(min-width: 759px) and (max-width: 979px) {
  .articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
  }

  .article { 
    height: 100%;
    min-height: 18.7rem;
    flex: 1 0 48%; 
  }

  .article-footer { margin-top: auto; }
}

@media(min-width: 980px) and (max-width: 1090px) {
  .articles-container {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
  }

  .article { 
    height: 100%;
    min-height: 26.8rem;
    flex: 1 0 24%; 
  }

  .article-footer { margin-top: auto; }
}

@media screen and (min-width: 1090px) {
  .articles-container {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
  }

  .article { 
    height: 100%;
    min-height: 23.8rem;
    flex: 1 0 24%; 
  }

  .article-body { align-self: center; }

  .article-footer { margin-top: auto; }
}

.article-header {
  color: var(--main-bg-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.article:last-child { margin-bottom: 0; }

.footer { flex: 1; }
