@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-color { color: #fff; }
.link-color { color: #9b9b9d; }
.second-color { color: orange; }
.sing-color { color: purple; }

ul { list-style: none; }
a { text-decoration: none; }

body {
  background-color: #27282c;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.header-wrapper {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav-controlls {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header { flex: 1; }
.main { flex: 10; }
.footer {flex: 1; }

.footer { 
  width: 100%;
  height: 8rem;
  padding: 0 0 3rem 0; 
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff33;
}

.socials-wrapper {
  display: flex;
  gap: .5rem;
}