<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="icon" th:href="@{icon.svg}">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">

    <header class="header">
      <div class="container">
        <div class="header-wrapper">
          <div class="header-logo">
            logo
          </div>
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a class ="nav-link link-color" href="/">home</a>
              </li>
              <li class="nav-item">
                <a class ="nav-link link-color" href="/about">about</a>
              </li>
              <li class="nav-item">
                <a class ="nav-link link-color" href="/leadboard">leadboard</a>
              </li>
            </ul>
          </nav>
          <div class="nav-controlls">
            <a class="link-color" href="#">sign up</a>
            <a class="link-color" href="#">sign in</a>
          </div>
        </div>
      </div>
    </header>

    <main class="main">2</main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="left-side">
            <ul class="socials-wrapper"> 
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>  
            </ul>
            <div class="">
              <a href="#">Privacy & Security</a>
              <a href="#">Term of Use</a>
              <a href="#">Brand</a>
              <a href="#">Legal</a>
              <a href="#">Tools</a>
            </div>
            <div class="copyrigths">
              Copyright @ 2024 stars_inc
            </div>
          </div>
          <div class="rigth-side">
            <div class="footer-controlls">
              <a href="#">back to top</a>
            </div>
            Developed with heart
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>
</html>